<form [formGroup]="tacheForm" (ngSubmit)="onSubmit()">
  <mat-form-field
    class="example-full-width mx-2"
    appearance="fill"
    *ngIf="status === STATUS.MODIFICATION"
  >
    <mat-label>ID</mat-label>
    <input matInput formControlName="id" />
  </mat-form-field>
  <mat-form-field class="example-full-width mr-2 mb-1" appearance="fill">
    <mat-label>Label</mat-label>
    <input matInput formControlName="label" />
    <mat-error>Champ obligatoire</mat-error>
  </mat-form-field>
  <mat-checkbox formControlName="complete">complete</mat-checkbox>
  <div class="form-group row">
    <div class="col-sm-10">
      <button type="button" class="btn btn-secondaryv mr-2" (click)="annuler()">
        Annuler
      </button>
      <button
        type="submit"
        class="btn btn-primary"
        [disabled]="!tacheForm.valid"
      >
        {{ labelBtnSubmit }}
      </button>
    </div>
  </div>
</form>
